body {
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

 /* Mobile-specific styles */
 @media screen and (max-width: 767px) {
.Card01{
    /* padding: 4rem; */
    width: 100%;
    background-color: #ffe6cc; /* Dark header background */

}
.Card02{
    padding: 4rem;
    width: 100%;
    text-align: left;
    display: block; 
    align-items: center; /* Center items vertically */
    background-color: #ffffff; /* Dark header background */
}
.Card03{
    padding: 4rem;
    width: 100%;
    text-align: left;
    display: block; 
    align-items: center; /* Center items vertically */  
    background-color: #ffe6cc; /* Dark header background */


}
.Card04{
    padding: 4rem;
    width: 100%;
    text-align: left;
    display: block; 
    align-items: center; /* Center items vertically */
    background-color: #ffffff; /* Dark header background */
}
.Card05{
    padding: 4rem;
    width: 100%;
    display: block; 
    align-items: center; /* Center items vertically */
    background-color: #ffe6cc; /* Dark header background */
    text-align: center;
}
.text-container-Brand-Hadding {
    text-align: center;
    /* max-width: 1200px; */
    padding-right: 50px;

    margin: 0 auto;
    box-sizing: border-box;
}
.text-container-Designer-Hadding {
    text-align: center;
    /* max-width: 1200px; */
    padding-left: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}
.text-container {
    /* max-width: 1200px; */
    padding-right: 50px;
    width: 50%;
    /* margin: 0 auto; */
    box-sizing: border-box;
}
.big-text {
    font-size: 40px;
    font-weight: bold;
}

.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 24px;
}

.Title-Heading-text {
    font-size: 30px;
    font-weight: bold;

}

.event-text {
    font-size: 20px;
}

.mahndi-text {
    font-size: 20px;
}

        

        .text-div {
            flex: 1; 
            padding: 20px;

        }

        .image-div {
            flex: 1; 
            text-align: center;
        }


        ul {
            padding-left: 20px;
            list-style-type: none;
        }

        li {
            margin-bottom: 5px;
        }

        img {
            width: 500px;
            height: 500px;
        }

        .footer-icons {
            /* display: flex; */
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
        }

        .footer-icon {
            font-size: 24px;
            color: #111;
            transition: color 0.3s;
        }

        .footer-icon:hover {
            color: #FFC107;
        }
        .inline-div {
            display: inline-block; /* Display divs in the same line */
        }
        /* .photo-container {
            display: flex;
        } */
        /* .Henna-WORK-photos img{
            width: 200px;
            height: 200px;
        } */
        .photo {
  
            height: 70px;
            margin: 70px;
  
        }

    }


/* Desktop-specific styles */
@media screen and (min-width: 768px) {
.Card01{
    /* padding: 4rem; */
    width: 100%;
    background-color: #ffe6cc; /* Dark header background */

}
.Card02{
    padding: 4rem;
    width: 100%;
    text-align: left;
    display: flex; /* Display children in a row */
    align-items: center; /* Center items vertically */
    background-color: #ffffff; /* Dark header background */
}
.Card03{
    padding: 4rem;
    width: 100%;
    text-align: left;
    display: flex; /* Display children in a row */
    align-items: center; /* Center items vertically */
    background-color: #ffe6cc; /* Dark header background */


}
.Card04{
    padding: 4rem;
    width: 100%;
    text-align: left;
    /* display: flex; Display children in a row */
    align-items: center; /* Center items vertically */
    background-color: #ffffff; /* Dark header background */
}
.Card05{
         background-color: #ffe6cc; /* Dark header background */

            color: #111;
            padding: 20px 0;
            text-align: center;
}
.text-container-Brand-Hadding {
    text-align: center;
    /* max-width: 1200px; */
    padding-right: 50px;

    margin: 0 auto;
    box-sizing: border-box;
}
.text-container-Designer-Hadding {
    text-align: center;
    /* max-width: 1200px; */
    padding-left: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}
.text-container {
    /* max-width: 1200px; */
    padding-right: 50px;
    width: 50%;
    /* margin: 0 auto; */
    box-sizing: border-box;
}
.big-text {
    font-size: 40px;
    font-weight: bold;
}

.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 24px;
}

.Title-Heading-text {
    font-size: 30px;
    font-weight: bold;

}

.event-text {
    font-size: 20px;
}

.mahndi-text {
    font-size: 20px;
}

        

        .text-div {
            flex: 1; /* Take up remaining space */
            padding: 20px;

        }

        .image-div {
            flex: 1; /* Take up remaining space */
            text-align: center;
        }

        ul {
            padding-left: 20px;
            list-style-type: none;
        }

        li {
            margin-bottom: 5px;
        }

        img {
            width: 500px;
            height: 500px;
        }

        .footer-icons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 10px;
        }

        .footer-icon {
            font-size: 24px;
            color: #111;
            transition: color 0.3s;
        }

        .footer-icon:hover {
            color: #FFC107;
        }
        .inline-div {
            display: inline-block; /* Display divs in the same line */
        }
        /* .photo-container {
            display: flex;
        } */

        .photo {
  
            padding: 20px;
            height: 70px;
            margin: 70px;
  
        }

    }   



    .Upper-image {
        width: 100%;
        height:200px;
        padding:0;
        margin: 0;
    }
.bootom-image {
        width: 100%;
        height:200px;
        padding:0;
        margin: 0;


    }